<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="nl.kattekoop.repository"/>
    <context:annotation-config/>

    <bean id="MariaDbServer" class="nl.kattekoop.mariadbserver.MariaDBServer" init-method="init">
        <property name="poortNummer" value="3319"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" depends-on="MariaDbServer">
        <!--<property name="uniqueResourceName" value="NonXA_DataSource" />-->
        <!--<property name="minPoolSize" value="2" />-->
        <!--<property name="maxPoolSize" value="30" />-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>

        <!--<property name="url" value="jdbc:mysql://localhost:3306/kattekoop" />-->
        <!--<property name="username" value="dev" />-->
        <!--<property name="password" value="dev" />-->
        <property name="url" value="jdbc:mysql://localhost:3319/test"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>nl.kattekoop</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:databaseChangeLog.xml"/>
    </bean>

</beans>
